@import '../utilities/variables.scss';

.View-Toggler-Wrapper {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;

  // CURRENT & FORECAST BUTTON
  .View-Toggler-Button {
    margin: auto 5px;
    padding: 5px 8px;
    border: 1px solid #000;
    outline: 0;
    background: #fff;
    color: #000;
    font-family: $secondaryTypography;

    &:hover {
      background: $primaryDark;
      border: 1px solid $primaryDark;
      cursor: pointer;
      color: #fff;
    }
  }

  .View-Toggler-Button-Selected {
    color: #fff;
    background: $primaryDark;
    border: 1px solid $primaryDark;
  }
}
