@import '../utilities/variables.scss';

.Weather-Wrapper {
  width: 100%;
  margin: auto;
  margin-top: 4rem;
  min-height: 30vh; // Minimum height for the main block
  font-size: 0.9rem;

  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }
}
